@import url("./variables.css");
@import url("./animations.css");

* {
  box-sizing: border-box;
  font-family: "Grandstander", cursive;
}

body {
  background-color: #1f242d !important;
  color: white !important;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
}

.contact-inner-container {
  z-index: 1;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

.contact-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

.thanks-box {
  height: 60vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
