@import url("./variables.css");
@import url("./animations.css");

* {
  box-sizing: border-box;
  font-family: "Grandstander", cursive;
}

body {
  background-color: #1f242d !important;
  color: white !important;
}

h1 span {
  color: var(--secondary-color);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.1s + 0.075s * var(--i));
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
}

.contact-inner-container {
  z-index: 1;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

.contact-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  opacity: 0;
  animation: slideTop 0.8s ease forwards;
  animation-delay: 1s;
}

.contact-subtitle::before {
  content: "";
  animation: slideTop 1s ease-in-out;
  animation-delay: 2s;
}

.thanks-box {
  height: 60vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: relative;
}

.hero-img img {
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
  animation-delay: 1.9s;
}

@media screen and (max-width: 768px) {
  .hero-img img {
    padding-top: 20px;
  }
}
